* {
    box-sizing: border-box;
  }

body{
    background-color: #121212;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 3em;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
}